<article class="post">
  <header class="post-header home">
    <div class="post-title">{{ site.title }}</div>
  </header>
<p>
  <H1> 댄싱코딩</H1>
  데이터테크놀로지 석사를 졸업후 2022년 부터 자바 개발자로 재직중.<br>
  스스로 까먹지 않기 위하여 개발한 과정과, 공부한 내용들을 정리할 것.<br>
  <br>
</p>
<p>
  <H1><i class="fas fa-code"></i> 개발 일기</H1>
  실제로 설계/개발 하는 과정을 순차적으로 쓸 예정. <br>
  1. GitHub 블로그와 Headless CMS 연동 과정<br>
  2. SAP UI5 구현 과정<br>
  3. 이전에 했던 작업 회고록<br>
  <br>
</p>

<p>
  <H1><i class="fas fa-bug"></i> 문제 해결</H1>
  위의 개발일기 과정에서 실제로 발생한 문제와, 이를 해결하는 과정을 쓸 예정.<br>
  본업에서 인상 깊었던 버그와 이를 처리한 과정 역시 남길 예정.<br>
  <br>
</p>

<p>
  <H1><i class="fas fa-book-reader"></i> 개발 지식</H1>
  개발 일기와 겹치는 부분이 있는 것 같아 추 후 다른 탭으로 변경 에정
  <br>
</p>
<br>
<p>
  오늘도 행복코딩했다면 그걸로 된것 
  <br>
</p>

</article>

